/* Zajax CSS */

/* back button */

.zaback {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 32px;
    height: 32px;
	display:block;
    /*border: 1px solid #ccc;
    border-radius: 30px;
    background:white;*/
    cursor: pointer;
    cursor: hand;
	z-index:999999999; 
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";     /*Best for Internet Explorer 8 */
	filter: alpha(opacity=30);    /*Internet Explorer 5, 6, 7, 8 */
	-moz-opacity: 0.3;    /* Old Mozilla Browsers */
	-webkit-opacity: 0.3;    /* Old Webkit browsers (Safari, Chrome, various others) */
	-khtml-opacity: 0.3;    /* Really old Safari browsers and Konqueror */
	opacity: 0.3;


     -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline-style:none;/*IE*/
}
.zaback span:hover {
    /*text-decoration:underline;*/
}
.zaback div {
    background-color: #000;
    width: 32px;
    height: 32px;
	-webkit-border-radius: 25px; 
	-moz-border-radius: 25px; 
	border-radius: 25px; 
}
.zaback div:before {
	font-family: "dashicons";
	content: "\f341";
	margin-left: 1px;
	margin-top: 4px;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 26px/1 'dashicons';
	vertical-align: top;
	color: #fff;
}
/*
.zaback div:before {
	font-family: "podzic";
	content: "\E812";
	margin-left: 8px;
	margin-top: 6px;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 20px/1 'podzic';
	vertical-align: top;
	color: #fff;
}
*/
/*page transition fade */
.zajax-transition {   
    -webkit-transition: opacity .5s ease-in-out;
       -moz-transition: opacity .5s ease-in-out;
        -ms-transition: opacity .5s ease-in-out;
         -o-transition: opacity .5s ease-in-out;
            transition: opacity .5s ease-in-out;
}

.zajax-opacity {
    zoom: 1;
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;

}
/********************/

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
  z-index: 99999999999;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
/* ORIGINAL
  display: block;
  position: fixed;
  z-index: 99999999999;
  top: 15px;
  right: 15px;
  */

	position: fixed;
	display: block;
	z-index: 99999999999;
	top: 50%;
	left: 50%;
	width: 18px;
	height: 18px;
	margin-left: -9px;
	margin-top: -9px;  
  
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%; 
	border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}